.fundoCadastro {
    background-image: url("https://ik.imagekit.io/vzr6ryejm/farmacia/cadastro.jpg?updatedAt=1725794513264");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }